{% extends "dashboard/dashboard.html" %}
{% load static thumbnail %}
{% block content-inner %}

{% block head %}

<script src="{% static 'js/bodyScrollLock.es6.js' %}" type="module" defer></script>
<script src="{% static 'js/lightbox.js' %}" type="module" defer charset="utf-8"></script>

{% endblock %}

<div class="container">
  {% url 'pictures:add' as url %}
  <a class="" href="{{url}}" data-target="{{url}}#modal" data-toggle="modal">Ajouter une image</a>
  <div class="content grid">
    {% for item in items %}
    {% if item.image %}
    {% thumbnail item.image '200x150' as thumb %}
    <a href="{{ item.image.url }}">
      <img src="{{ thumb.url }}" alt="" width="{{ thumb.width }}" height="{{ thumb.height }}">
    </a>
    {% endif %}
    {% endfor %}

  </div>

</div>

{% endblock content-inner %}
